/* SPECIFIC STYLES */

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: var(--fw-medium);
  color: var(--clr-slate-600);
  background-color: var(--clr-white);
  overflow-x: hidden;
}

header {
  padding-top: var(--space-600);
  padding-bottom: var(--space-800);
  text-align: center;
}

.logo {
  display: inline-block;
  width: 118px;
  height: 28px;
}

/* HERO SECTION */
.section--hero {
  padding: 0 0 var(--space-400);
}

.hero-img-box {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-600);
}

.hero-img-left,
.hero-img-right {
  width: 140%;
  margin-bottom: var(--space-600);
}

.hero-img-left {
  justify-self: end;
}

.hero-img-right {
  justify-self: start;
}

.hero-text-box {
  text-align: center;
  grid-column: 1 / -1;
}

.section--hero__desc {
  margin-bottom: var(--space-300);
}

.hero-btns {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  grid-column: 1 / -1;
}

/* SECTION FEATURES */
.section--features {
  padding: var(--space-400) 0 var(--space-800);
  text-align: center;
}

.section--features__gallery-box {
  margin-bottom: var(--space-800);
  gap: var(--space-200);
  padding: 0 3.5rem;
}

.section--features__text-box {
  grid-column: 1 / -1;
}

.section--features__gallery-img {
  width: 100%;
  border-radius: 0.8rem;
}

/* CTA SECTION */
.section--cta {
  color: var(--clr-white);
  text-align: center;
}

.section--cta__title.heading-secondary {
  color: var(--clr-white);
}

.section--cta .step {
  margin-bottom: -3rem;
}

.section--cta_text-box {
  background: linear-gradient(var(--clr-img-overlay), var(--clr-img-overlay)), url("./assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  padding: var(--space-800) 0;
}

.section--cta__desc {
  margin-bottom: var(--space-300);
}
